@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body
{
    font-family:work sans;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    

}
#header
{
    width: 100vw;
    height : 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_div{
    height: 100%;
    margin-left: 10px;
}

.logo_div h1{
    display: flex;
    align-items: center;
    margin: 0;
    font-family: "Oswald",'Courier New', Courier, monospace;
    font-size: 50px;
    height: 90%;
    /* border: 2px solid red; */
    
    
}

#header ul{
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
    width: 60%;
    font-family:"Oswald";
   
}

#header ul a{
    text-decoration: none;
    color: black;
    font-size:20px;
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.header_name
{
    font-size: 18px;
    text-decoration: none;
    color: black;
}


.img_
{
  width: 20px;
  height: 25px;
}

.nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family:'Oswald' ;
    background-color:white;
    z-index:100;
    margin: 5px auto 10px;
}
.nav a{
    color: #0D47FB;
    font-size: 18px;
    text-decoration: none;
}


.nav_pos
{
    position:sticky;
    top:0px;
}

.s
{
    display: inline-block;
}

.search_div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 50px;
    /* border: 2px solid red; */

}

.search
{
    border: 2px solid rgb(191, 189, 189);   
    background-color: white;
    height: 90%;
    width:80%;
    font-size: 15px;
}

.search_div button{
    height: 100%;
    width: 10vw;
    font-size: 25px;
    background-color: #14C1B3;
    border: 2px solid #0c8177 ;
    color: white;
    font-weight: bold;
    font-family: "Oswald",'Arial Narrow', Arial, sans-serif;
    border: none;
    

}

.set1
{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 33rem;
}

.s1
{
    display: inline-block;
}

.set1_info_div
{
    position: relative;
    top:-36px;
    width: 39.5%;
    height: 98%;
}

.set1_lady_div
{
    width: 59.5%;
    height: 99.5%;
    background: linear-gradient(150deg, white 50%, #00A964 50%);
    padding-right: 9.5px;
}

#lady_img
{
    height: 100%;
    height: 100%;
}

.onlyu_199
{
    width:100%;
}

#set1_h3
{
    font-family:sans-serif;
    font-size:20px;
    position:relative;
    top:20px;
    padding-left: 25px;

}

#set1_h2
{
    font-size: 44px;
    font-family: sans-serif !important;
    padding-left: 25px;
}

.set1_p
{
    font-size: 1.25rem;
    display:inline-block;
}

.s1pa
{
    display:inline-block;
    margin-left: 30px;
}

#s1pa
{
    font-size: 15px;
    color: black;
}

.set1_button
{
    color: aliceblue;
    font-family: Arial ;
    font-size:20px ;
    font-weight:bold ;
    background-color: #0d46f1eb;
    border:none;
    width: 13rem;
    height: 3rem;
}
.set1_button:hover
{
    cursor: pointer;
    background-color: #0e3cc6;
}

.set1_end
{
    margin-left: 30px;
}

.set2
{
    background-color: #E8EEFF;
    text-align: center;
    padding-top: 1px;
    margin-top: -3px;
   
}

.set2_row1
{
    display: inline-block;
}

.set2_row2
{
    display: inline-block;
    margin-bottom: 100px;
}

.s2r1r2m
{
    margin-left: 10rem;
    margin-right: 10rem;
}


.set2_r
{
    margin-top: 30px; 
}


.set2_head
{
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.set2_headings
{
    color: black;
    font-family: Arial;
    font-weight:800;
    text-decoration: none;
}

.set2_img
{
    width: 120px;
}

.s2r1r2l
{
    text-decoration: none;
    font-family: sans-serif ;
    font-size:large;
    font-weight: lighter;
    color: #0d46f1eb;
}

.set3
{
   
    width:100%;
    height: 1255px;
    padding-top: 60px;
    margin-top: 60px;
}

.set3_div1
{
    margin-top: 30px;
    display: inline-block;
    position: relative;
    top: -144px;
    left: 30px;
    background-color: #F77A44;
}

.s3h1
{
    font-size: 60px;
    font-weight: bolder;
    padding: 0px 175.5px 0px 175.5px;
}

.s3list
{
    padding-left:170px;
    font-size: 22px;
}

.ladysmile
{
    position: relative;
    left:60px; 
    top:-58px;
}

.s3list::before 
{
    content: '✓';
}

.s3lists2::before
{
    content: '✓';
} 

#s3r1p
{
    width: 100%;
    height: 100%;
}

.s3r1
{
    height: 600px;
}

.cooking_lady
{
    width: 30%;
    position: relative;
    top: -110px;
    left: 30px;
}

.s3lists2
{
    padding:0px 0px 0px 110px;
    font-size: 18px;
    color: white;

}


#s3r2p
{
    height: 100%;
    width:100%
}

.s3r2i
{
    position: relative;
    top: -272px;
    left: 60px;
    padding :0px 0px 0px 0px;
    background-color: #4A75FC;
}

.lists2::before
{
    content: '✓';
}

.s3r12
{
    display:inline-block;
    width: 46.5%;
    height: 600px;
}

.yellow_button
{
    font-weight: 900;
    height: 59px;
    width: 150px;
    background-color: #FEC101;
    border: 0px solid #64641c;
    color: #0D47FB;
    margin-left: 115px;
    box-shadow: -4px 2px 4px 5px rgb(0 0 0 / 10%);
}

.yellow_button1
{
    font-weight: 900;
    height: 59px;
    width: 180px;
    background-color: #FEC101;
    box-shadow: -4px 2px 4px 5px rgb(0 0 0 / 10%);
    border:0px solid blue;
    color: #0D47FB;
    margin-left: 170px;

}

.yellow_button1:hover
{
    cursor: pointer;
    background-color:#dfae0dc9 ;
    box-shadow: -8px 4px 4px 5px rgb(0 0 0 / 10%);

}

.yellow_button:hover
{
    cursor: pointer;
    background-color:#dfae0ddf ;
    box-shadow: -8px 4px 4px 5px rgb(0 0 0 / 10%);

}

.set3_scrolling_images
{
    text-align: center;
}

.s3_scr_images
{
    margin: 0px 36px 0px 36px;
    padding: 31px 17px 0px 1px;
}

.filling_forms
{
    margin-top: 60px;
    padding: 50px 0px 50px 0px;
    background-color: #F3F6FF;
    text-align: center;
}

.ff_head
{
    font-size: 30px;
    margin: 0px 500px 0px 500px;
    font-weight: normal;
}

.form_input
{
    height: 52px;
    width: 251px;
    padding-left: 30px;
    font-size: 16px;
}

.form_submit
{
    height: 60px;
    font-size: 15px;
    font-weight: bolder;
    width: 251px;
    padding-left: 0px;
    background-color:#0D47FB;
    border: 0px solid #0D47FB ;
    color: white;
    box-shadow: -2px 2px 4px 2px rgb(0 0 0 / 10%);
}

.shop
{
    margin:250px 0px 0px 0px;
    background-image: url(./images/chef_boy.jpg);
    background-size:100% ;
    height: 785px;
    text-align: center;
    font-weight: bolder;

}

.button_cb1
{
    display: inline-block;
    margin-left: 100px;
    background-color:#0D47FB;
    color: white;
    width:200px;
    height:50px;
    border:none; 
    font-size: 15px;
    font-weight: bolder;

}

.button_cb2
{
    display: inline-block;
    margin-left: 100px;
    background-color:white;
    color:#0D47FB;
    width:200px;
    height:50px;
    border:none;
    font-size: 15px;
    font-weight: bolder;
}

.ss
{
    text-align:center;
    margin-top: 50px;
}

.tust
{
    text-align:center;  
    margin-top: 50px;  
}

.faq
{
    text-align: center;
    margin-top: 50px;
}

.foot
{
    margin-top: 200px;
    text-align:center;
    background-color: #171103;
    color:white;
    margin: 54px -40px -16px -0px;
}
 
.fl
{
    display:inline-block;
    text-align:start;
}

.connect
{
    text-align:center;
}

.connect_social
{
    margin-right: 100px;
}

summary
{
    border: 1px dashed gray;
    vertical-align:middle;
    padding-top: 30px;
    height:50px;
    margin-top: 40px;
    text-align: left;
    font-style: bolder;
    font-weight: bolder;
    font-size: 20px;
}

.summpa
{
    background-color: rgb(105, 238, 160);
    padding-top: 30px;
    padding-bottom: 30px;
    color:black;
    font-size: 17px;
    text-align: left;
    padding-left: 20px ;
    padding-right: 20px;
}



/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#0D47FB; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }















